*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html {
    font-size: 10px;
}
body::-webkit-scrollbar { /* webkit */
    width: 0;
    height: 0;
}

body {
    background-color: rgb(1,4,9);
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
a:-webkit-any-link {
    color: #000;
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;

    max-width: 120rem;
    width: 100%;
    
}

/* --------------------start header---------------- */

.header {
    margin: 4rem 1.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__title {
    margin-right: 2rem;

    font-family: 'Tilt Warp', cursive;
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    text-shadow: 0em -0.2em 0.4em #fff, 0px -0.2em 1em #ff3, 0em -1em 2em #f90, 0em -2em 4em #c33;
    color: #f5f5f5;

    transition: 0.5s linear;

}
.rss__link {
    display: block;

    font-family: 'Tilt Warp', cursive;
    font-size: 4.2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.rss__link > span {
    animation: glow 2s ease-in-out infinite;
}
@keyframes glow {
    0%, 100% {
        color: #FFF;
        text-shadow: 0em -0.2em 0.4em #fff, 0px -0.2em 1em #ff3, 0em -1em 2em #f90, 0em -2em 4em #c33;
    }

    10%, 90% {
        color: #111;
        text-shadow: none;
    }
}
  
.rss__link > span:nth-child(2) {
    animation-delay: 0.25s;
}

.rss__link > span:nth-child(3) {
    animation-delay: 0.5s;
}

.rss__link > span:nth-child(4) {
    animation-delay: 0.75s;
}

.rss__link > span:nth-child(5) {
    animation-delay: 1s;
}

.rss__link > span:nth-child(6) {
    animation-delay: 1.25s;
}

.rss__link > span:nth-child(7) {
    animation-delay: 1.5s;
}


/* --------------------end header---------------- */




/* --------------------start main---------------- */

.memes__title {
    font-family: 'Tilt Warp', cursive;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    
}

.memes__item {

    margin: 5rem 0;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 0.3rem solid rgba(216, 196, 196, 0.897);
    border-bottom: 0.3rem solid rgba(216, 196, 196, 0.897);

    cursor: pointer;
    transition: linear 1s;
}
.memes__input {
    width: 0;
    height: 0;
    position: absolute;
    appearance: none;
}
.memes__header {
    margin: 0 1rem;

    height: 5rem;
    display: block;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: rgb(231, 231, 90);

    cursor: pointer;
}
.memes__footer {
    height: 0;

    display: flex;
    justify-content: center;

    transition: linear 0.2s;

    cursor: pointer;
    
}
.memes__img {
    margin: 2rem 0;

    max-width: 40rem;
    width: 100%;
}

.material-symbols-outlined {
    font-size: 3rem;
}

.arrow{
    display: none;
}
.close {
   display: none; 
}
.material-symbols-outlined {
    transition: linear 1s;
}

/* --------------------end main---------------- */


.memes__input:checked ~ .memes__footer {
    height: 35rem;
}

.memes__input:checked ~ .memes__header > .memes__title {
    color: white;
}


/* ----------------media----------------------- */
@media (hover: hover) {
    .memes__list:hover .arrow {
        display: block;
    }
    
    .memes__item:hover > .memes__header > .arrow {
        display: none;
    }
    .memes__item:hover > .memes__header > .close {
        display: block;
    }
    .memes__list:hover .memes__header {
        color: white;
    }
    
    .memes__item:hover > .memes__footer {
        height: 35rem;
    }
  }

@media screen and (min-width: 1200px){
    .memes__item:active {
        opacity: 0.3;
        transition: 0.2s;

    }
}

@media screen and (max-width: 568px){
    html {
        font-size: 0.6em;
    }
    .header {
        flex-wrap: wrap;
        justify-content: start;
    }
    .main__title {
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 320px){
    html {
        font-size: 0.4em;
    }
    
}


